:root {
  --light: #fdfafa;
  --dark: #07073a;
  --accent-one: #00a8ba;
  --accent-two: #e76d2f;
  --accent-three: #003665;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
  font-size: 16px;
}

p {
  margin: 0;
}
